extends layout

block content
  h1 Title: #{title}

  div(style='margin-left:20px;margin-top:20px')
    h4 Details

    hr
    ul
      li Category: #{item.category.name}
      li Description: #{item.description}
      li Price: $#{item.price}
      li Number In Stock: #{item.number_in_stock}

  hr
  p
    a(href=item.url+'/delete') Delete Item
  p
    a(href=item.url+'/update') Update Item